body{
        font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif!important;
        color:rgba(242,244,246,.9);
        margin:0;
        padding:0;
}
html{
    scroll-behavior: smooth;

}
#menu{
    vertical-align: middle;
    line-height:40px;
    display: inline-block;
}
.nav{
    color:rgba(242,244,246,.9)
}
.nav:hover{
    color:#fff;

}
#smile{
    position:relative;top:-131px;left:200px;opacity: .0;
    height:500px;width:70%;
    transition:all 1s;
}
#smile:hover{
    opacity:.7 !important;
}
.txt{
    font-size: large;
    font-weight: 600;
    float:right;
    text-decoration: none;
    color:rgba(242,244,246,.9)
}
.txt:hover{color:#fff;}
.hdr{
    background-color: rgb(27 37 48);
}
.li-fl{
    text-align: left;
    list-style: none;
}
.li-fl:hover{
    background-color: #043a7c;
}
.arrow {
    border: solid rgba(242,244,246,.9);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
.ul-fl{
    background-color: rgb(27 37 48);
    width:65px;
}  
.ul-fl>span{
    vertical-align: middle;
    line-height:30px;
    float:left;
}
.no{
    display:none;
}
.nv{
    visibility: hidden;
}
.ic{
    font-size: 24px;
    float:left;
    line-height:40px;
    vertical-align: middle;
}
#small,#sm{
    display:none;
}
#icon{
    position:relative;top:10px;left:10px;
}
#sm{
    width:100%;height:670px;
    background-color: #252e39;
}
#ull{
    width:70px;
}
.hero{
    float:right;width:100%;height:755px;background-size: contain;overflow: hidden;background-image: url(./assets/amzn.jpg);background-size: 100% 130%;
}
.hero-cont{
    height:670px;width:100vw;background-color: rgb(2 2 2 / 8%);padding:150px 60px;object-fit:fill;word-wrap: break-word;
}
.hero-txt{
    word-wrap: break-word;
}
.hero-h1{
    font-size: 2rem;color:white;font-weight: 700;letter-spacing: 1px;font-size: 2rem;
}
.hero-h5{
    color:white;width:50%;
}
.butn{
    background-color:#0f79af;color:white;width:300px;height:55px;box-shadow: 0px 0px 0px transparent;border: 0px solid transparent;text-shadow: 0px 0px 0px transparent;
}
.hero-right{
    float:right;position:relative;left:130px;
}
/* Chota PC*/
@media screen and (max-width: 1024px) {
    .hero{
        background-size: 100% 100%;
    }
    .hero-h1{
        font-size: 25px;
    }
    .hero-h5{
        width:40%;
    }
    .butn{
        width:270px;
        height:53px;
    }
    #smile{
        position:relative;top:-120px;left:200px;opacity: .0;
        height:450px;width:70%;
        transition:all 1s;
    }
    .hero-right{
        left:160px;
    }
}

/* tablet */
@media screen and (max-width: 768px) {
.hero{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#simle{
    width:70%;
    height:100;
    position:relative;
    right:400px;
}
.hero-h1{
    font-size: 20px;
}
.hero-h5{
    width:30%;
}
.butn{
    width:220px;
    height:50px;
}
#smile{
    height:200px;
    width:70%;
    position:relative;
    top:1px;
    right:30px;
}
.hero-right{
    left:165px;
}

}

/* Phone*/
@media screen and (max-width: 426px) {
#globe,#ull,#sign{
    display: none;
}
#small,#sm{
    display: block;
}
#ul-sm{
    padding: 0;
}
#ul-sm>li{
    border-bottom: 1px solid #2e3a47 ;
    padding:20px;
    list-style:none;
}
.active{
    background-color: #011d3f;
}

} 

/* chota phone */
@media screen and (max-width: 375px) {



}