body{
        font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif!important;
        color:rgba(242,244,246,.9);
        margin:0;
        padding:0;
}
html{
    scroll-behavior: smooth;

}
.crd{
    padding:20px 5px;float:left;width:450px;text-align: center;position:relative;left:60px;
}
.crd-h5{
    width:75% !important;position:relative;left:60px;
}
#menu{
    vertical-align: middle;
    line-height:40px;
    display: inline-block;
}
.nav{
    color:rgba(242,244,246,.9)
}
.nav:hover{
    color:#fff;

}
#smile{
    position:relative;top:-131px;left:200px;opacity: .0;
    height:500px;width:70%;
    transition:all 1s;
}
#smile:hover{
    opacity:.7 !important;
}
.txt{
    font-size: large;
    font-weight: 600;
    float:right;
    text-decoration: none;
    color:rgba(242,244,246,.9)
}
.txt:hover{color:#fff;}
.hdr{
    background-color: rgb(27 37 48);
}
.li-fl{
    text-align: left;
    list-style: none;
}
.li-fl:hover{
    background-color: #043a7c;
}
.arrow {
    border: solid rgba(242,244,246,.9);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
.ul-fl{
    background-color: rgb(27 37 48);
    width:65px;
}  
.ul-fl>span{
    vertical-align: middle;
    line-height:30px;
    float:left;
}
.no{
    display:none;
}
.nv{
    visibility: hidden;
}
.ic{
    font-size: 24px;
    float:left;
    line-height:40px;
    vertical-align: middle;
}
#small,#sm{
    display:none;
}
#icon{
    position:relative;top:10px;left:10px;
}
#sm{
    width:100%;height:670px;
    background-color: #252e39;
    position:relative;
    z-index:10;
}
#ull{
    width:70px;
}
.hero{
    float:right;width:100vw;height:720px;background-size: contain;overflow: hidden;background-image: url(./assets/amzn.jpg);background-size: 100% 130%;
}
.hero-cont{
    height:670px;width:100vw;background-color: rgb(2 2 2 / 8%);padding:150px 60px;object-fit:fill;word-wrap: break-word;
}
.hero-txt{
    word-wrap: break-word;
}
.hero-h1{
    font-size: 2rem;color:white;font-weight: 700;letter-spacing: 1px;font-size: 2rem;
}
.hero-h5{
    color:white;width: 39% ;
}
.butn{
    background-color:#0f79af;color:white;width:300px;height:55px;box-shadow: 0px 0px 0px transparent;border: 0px solid transparent;text-shadow: 0px 0px 0px transparent;    position: relative;
    top:50px;
}
.hero-right{
    float:right;position:relative;left:770px;
}
.foot-a{
    text-decoration: none;color:#0f79af
}
#foot-ua{
    text-decoration: none;color:white;
}
.footer{
    background-image: none;background-color:#222 !important;height: 105px !important;padding:30px 350px;
}
#foot-cont{
    position:relative;left:150px;font-size: smaller;
}
#foot-img{
    position:relative;left:400px;top:-10px
}
/* Chota PC*/
@media screen and (max-width: 1024px) {
    .hero{
        background-size: 100% 100%;
        height:690px;
    }
    .hero-h1{
        font-size: 25px;
        color:white;
    }
    .hero-h5{
        width:40%;
    }
    .butn{
        width:270px;
        height:53px;
    }
    #smile{
        position:relative;top:-120px;left:200px;opacity: .0;
        height:450px;width:70%;
        transition:all 1s;
    }
    .hero-right{
        left:584px;
    }
    .crd{
        width: 341px;
        left: -10px;
    }
    .footer{
        padding:30px 220px;
    }
    #foot-cont{
        left:30px;
    }
    #foot-img{
        left:250px;
    }
    .crd-h5{
        width:70% ;
        left:50px;
    }
}

/* tablet */
@media screen and (max-width: 768px) {
.hero{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:570px;
}
#smile{
    width:70%;
    height:100;
    position:relative;
    right:350px;
}
.hero-h1{
    font-size: 20px;
}
.butn{
    width:220px;
    height:50px;
}
#smile{
    height:200px;
    width:70%;
    position:relative;
    top:1px;
    right:30px;
}
.hero-right{
    left:450px;
    bottom:120px;
}
.footer{
    padding:30px 100px;
}
#foot-cont{
    left:150px;
    width:54%;
}
#foot-img{
    left:250px;
}
.crd{
    width: 241px;
    left: 5px;
}
.hero-h5 {
    width: 40%;
    left: 50px;
}
.crd-img{
    height:210px;
}
.crd-h5{
    width:80%;
    left:30px;
}

}

/* Phone*/
@media screen and (max-width: 426px) {
    html{
        height:600px;
    }
#globe,#ull,#sign,#smile{
    display: none;
}
#small,#sm{
    display: block;
}
.hero{
    padding:0;
    position:relative;
    top:-670px;
    background-position:center top;
    background-position-x: right;
    background-size: 160% 60%;
    background-color: black;
    height:530px;
}
.hero-right{
    left:0;
    height:auto;
    top:2px;
}
.hero-cont{
    position: relative;
    top: 167px;
}
.hero-h1{
    font-size: larger;
}
.hero-h5{
    width: 120% !important;
    font-size: 15px;
}
.hero-txt{
    position: relative;
    left:-1px;
}
#smile{
    top:-350px;
    left:5px;
    width:100%;
}
.butn{
    width:300px;
    top:0;
}
#ul-sm{
    padding: 0;
}
#ul-sm>li{
    border-bottom: 1px solid #2e3a47 ;
    padding:20px;
    list-style:none;
}
.active{
    background-color: #011d3f;
}
.ctr{
    background-position-x: inherit !important;
}
#blu{
    height:1100px !important;
    background-size:cover;
}
.crd{
    left:100px;
}
.crd-h5{
    left:-15px;
}
.footer{
padding:28px 0px;
height:140px !important;
}
#foot-img{
    left:180px;
}
#foot-cont{
    left:70px;
    width:74%;
}
} 

/* chota phone */
@media screen and (max-width: 376px) {
.crd{
    left:60px;
}
#foot-img{
    left:150px;
}
#foot-cont{
    left:60px;
    width:81% !important;
}
.hero-right{
    left:15px!important;
}
.hero-txt{
    left:-20px;
    top:5px;
}
}

/*baala hi chota phone, just like NOKIA 3310🙂*/
@media screen and (max-width: 321px){
    #foot-img{
        left:120px !important;
    }
    #foot-cont{
        left:20px;
        width:88% !important;
        font-size:12px;
    }
    .hero-h5{
        font-size:smaller;
    }
    #blu{
        height:1000px !important;
        background-size:cover;
    }
    .butn{
        width:250px;
    }
    .crd{
        left:40px;
    }
}